# DataFrame
- 2D arrays conatined within its attached row and column labels
- Heterogeneous types, missing data can be defined as spredd sheet programs an database frameworks
- Can be created by a NumPy array, 2D NumPy array, Dicts, Series, Lists.

In [1]:
# Import NumPy package and load pandas
import numpy as np
import pandas as pd

## Create from dict of series

In [19]:
dict = {'x' : pd.Series(['A','B','C']), 'y' : pd.Series([1, 2, 3])}
pd.DataFrame(dict)

   x  y
0  A  1
1  B  2
2  C  3

## Create from dict of lists

In [20]:
dict = {'x' : ['A','B','C'], 'y':[1,2,3]}
pd.DataFrame(dict)

   x  y
0  A  1
1  B  2
2  C  3

## Create from dicts of dicts

In [21]:
dict = {'col' : {'R1':1.2,'R2':2.2}, 'col2':{'R1':3.2,'R2':4.2, 'R3':5.5}}
pd.DataFrame(dict)

    col  col2
R1  1.2   3.2
R2  2.2   4.2
R3  NaN   5.5

#### Note: 
- Here pandas will interpret the outer dict keys as the columns and the inner keys as the row indices.

## Create from list of lists

In [22]:
list = [['A','B','C'], [1,2,3]]
pd.DataFrame(list)

   0  1  2
0  A  B  C
1  1  2  3

## Create from list of dicts

In [23]:
list = [{'R1':1.2,'R2':2.2}, {'R1':3.2,'R2':4.2, 'R3':5.5}]
pd.DataFrame(list, index =['col1', 'col2'])

       R1   R2   R3
col1  1.2  2.2  NaN
col2  3.2  4.2  5.5

## Create with custom index

In [24]:
dict= {
    'col1' : [1,2,3,4],
    'col3' : [5,6,7,8],
    'col2' : ['A','B','C','D'],
    'col4' : ['X','Y','Z','D']
}
pd.DataFrame(dict, index = ['R1', 'R2', 'R3', 'R4'])

    col1  col3 col2 col4
R1     1     5    A    X
R2     2     6    B    Y
R3     3     7    C    Z
R4     4     8    D    D

#### Note : 
- When assigning lists or arrays to a column, the valueâ€™s length must match the length of the DataFrame.
- Index can contain duplicate labels

## Create with random values with custom index

In [25]:
pd.DataFrame(np.random.randn(5,6))

          0         1         2         3         4         5
0  0.644970 -0.691718  0.853511  0.055448  0.640618  2.403130
1 -1.624164 -0.159940  0.335388 -0.711814 -1.272572  0.082654
2  0.310781  0.294758 -0.156309  2.421535 -0.374973  0.143335
3  0.075916 -0.494434 -0.190913 -0.856492 -0.411598  0.170207
4  0.308182  0.135877 -0.439459 -0.561280  0.886333 -1.414995

In [26]:
pd.DataFrame(np.arange(9).reshape((3, 3)),
             index=['R1', 'R2', 'R3'],
             columns=['col1', 'col2', 'col3'])

    col1  col2  col3
R1     0     1     2
R2     3     4     5
R3     6     7     8

## Create with string

In [2]:
import sys
print(sys.version_info)
if sys.version_info[0] < 3:
    from StringIO import StringIO
else:
    from io import StringIO

sys.version_info(major=3, minor=9, micro=12, releaselevel='final', serial=0)

In [4]:
data1 = StringIO("""
Date       Fruit  Num  Color 
2013-11-24 Banana 22.1 Yellow
2013-11-24 Orange  8.6 Orange
2013-11-24 Apple   7.6 Green
2013-11-24 Celery 10.2 Green
""")

df = pd.read_table(data1, sep='\s+')
df

         Date   Fruit   Num   Color
0  2013-11-24  Banana  22.1  Yellow
1  2013-11-24  Orange   8.6  Orange
2  2013-11-24   Apple   7.6   Green
3  2013-11-24  Celery  10.2   Green